<h1>Tweet</h1>
<h2>User: <%= @tweet.user.username %> </h2>
<p><%= @tweet.content %></p>

<button><a href="/tweets/<%= @tweet.id %>/edit">Edit Tweet</a></button>

<p><a href="/tweets/<%= @tweet.id %>/delete">Delete Tweet</a></p>
